extends block/main.layout.pug

block content
    .promo
        .promo__wrap.row
            .promo__wrapper.col-lg-10.col-lg-offset-1
                .promo__text Производство и доставка арболитовых блоков в Челябинской и Оренбургской области, а также в республике Башкортостан
            .promo__item.col-lg-8.col-lg-offset-2
                .promo__title Платите за отопление в
                    span.promo__separator
                    = ' раза меньше благодаря использованию арболитовых блоков при строительстве дома!'
                img.promo__bigdigital(src="img/promo/two.png" alt="two")
            .promo__item
                .promo__form
                    .bid__block
                        .bid__title Получите прайс-лист и
                        .bid__red бесплатную партию
                        .bid__title из блоков
                    form.form__bid(method="post" action="#" name="bid__form")
                        .bid__group
                            input.form__input(type="text" placeholder="Ваше имя" name="name")
                            input.form__input(type="text" placeholder="+7 000-000-00-00" name="phone")
                            input.form__input(type="email" placeholder="Ваш email" name="email")
                        button.btn.btn--bid.hvr-radial-out(type="submit") Оставить заявку
                .promo__symbol
                    .promo__row-1
                        .promo__contour
                            .promo-img.promo-img-01
                        .promo__lead Хвойные и лиственные породы особого размера
                    .promo__row-2
                        .promo-img.promo-img-02
                        .promo__slogan Производятся из экологически чистого материала
                        .promo__square
                        .promo-img.promo-img-03
                    .promo__row-3
                        .promo-img.promo-img-04

        .building.row
            each title, x in {1:'Бани', 2:'Гаражи', 3:'Коттеджи', 4:'Коттеджи'}
                a.building__picture.col-xs-3(href="#")
                    img.building__image(src="img/building/build0" + x + ".jpg" alt=title)
                    .building__title= title
    .manufacture
        .manufacture__wrap
            .manufacture__box.row
                each title, x in {1:'Экологически<br /> чистый материал', 2:'Собственный цех по производству', 3:'Согласно<br />ГОСТ-19222-84', 4:'Контрольные образцы испытываются в лаборатории', 5:'Работаем на рынке строительных материалов с 2013 года', 6:'Автоматизированное производство снижает уровень брака на 99%'}
                    .manufacture__container.col-xs-4
                        .manufacture-icon(class='manufacture-icon-1' + x)
                        .manufacture__title!= title

            h2.manufacture__head Мы производим:
            .manufacture__holder
                .manufacture__item
                    img.manufacture__img01(src="img/manufacture/one.png" alt="one")
                    .manufacture__text.manufacture__text--one 50х40х20 см
                .manufacture__block
                    img.manufacture__img02(src="img/manufacture/block_one.png" alt="block_one")
                    .manufacture__info Арболитовые блоки в двух размерах для удобства при строительстве
                .manufacture__item
                    img.manufacture__img03(src="img/manufacture/two.png" alt="one")
                    .manufacture__text.manufacture__text--two 50х35х20 см
            .manufacture__holder.manufacture__holder--one
                img.manufacture__img04(src="img/manufacture/block_two.png" alt="block_two")
                .manufacture__subtitle Панели-перемычки:
                .manufacture__subtitle
                    .manufacture__subtitle--two для перекрытия дверных и оконных проёмов
    .cost
        .cost__wrap
            .cost__head Рассчитайте стоимость арболита для Вашего проекта и получите скидку
            form.cost__form(method="post" action="#" name="cost__form")
                .cost__text Введите размеры стены
                .cost__group
                    input.form__input.form__input--cost(type="text" placeholder="Длина стены" name="length_wall")
                    input.form__input.form__input--cost(type="text" placeholder="Высота стены" name="height_wall")
                    input.form__input.form__input--cost(type="text" placeholder="Ширина стены" name="width_wall")
                .cost__text.cost__text--two Выберите размер блока
                .cost__radio
                    label.control.control-radio.control-radio--one(for="cost-option-one") 50х40х20 см
                        input.form__radio#cost-option-one(type="radio" name="radio" value="50х40х20" checked)
                        .control_indicator
                    label.control.control-radio(for="cost-option-two") 50х35х20 см
                        input.form__radio#cost-option-two(type="radio" name="radio" value="50х35х20")
                        .control_indicator
                button.btn.btn--cost.hvr-radial-out(type="submit") Получить стоимость по смс
    .info
        .info__wrap
            .info__why
                .info__head Почему лучше строить дома из арболитовых блоков?
                .info__subhead С заботой о Вас и Ваших близких
                .info__block
                    .info__picture
                        img.info__house(src="img/info/house.jpg" alt="house")
                    .info__list
                        .info__box.info__box--one
                            .info__pict
                                img.info__digital(src="img/info/one.png" alt="one")
                            .info__holder
                                .info__title Лёгкий монтаж и быстрое строительство зданий:
                                .info__subject стены легко отделывать, блоки удобны при строительстве, хорошо пилятся и сверлятся, при этом весят от 28 до 30 кг.
                        .info__box.info__box--two
                            .info__pict
                                img.info__digital(src="img/info/two.png" alt="two")
                            .info__holder
                                .info__title Срок службы арболита – 100 лет:
                                .info__subject брус будет служить Вам 50 лет, а саман – 25. При этом, арболит не подвержен вредительству грызунов и плесени, а также имеет высокая парапроницаемость, что выводит излишнюю влагу из помещения, а процесс строительства за счёт удобных блоков будет быстрым.
                        .info__box.info__box--three
                            .info__pict
                                img.info__digital(src="img/info/three.png" alt="three")
                            .info__holder
                                .info__title Хорошая звукоизоляция даже без отделки:
                                .info__subject в акустическом диапазоне от 135 до 2000 Гц  поглощение шума  составляет 0,17 - 0,6.
                        .info__box.info__box--four
                            .info__pict
                                img.info__digital(src="img/info/four.png" alt="four")
                            .info__holder
                                .info__title Экологически чистый материал:
                                .info__subject арболитовые блоки состоят из цемента, воды, минеральных добавок и дробленки хвойных пород заданного размера.
            .info__delivery
                .info__head.info__head--delivery Доставка:
                .info__contain
                    .info__container.info__container--one
                        img.info__truck(src="img/info/truck01.jpg" alt="truck01")
                        .info__lead!= 'Доставка между<br /> городами с помощью фур'
                        img.info_digital(src="img/info/truck-one.png" alt="truck-one")
                    .info__container
                        img.info__truck(src="img/info/truck02.jpg" alt="truck02")
                        .info__lead!= 'По городу осуществляется<br />с помощью манипуляторов'
                        img.info_digital(src="img/info/truck-two.png" alt="truck-two")
                a.btn.btn--info.hvr-radial-out(href="#") Узнать подробней
            .info__production
                .info__head.info__head--production Производство и отгрузка товара в течение 14 дней
                .info__subhead Как происходит процесс заказа арболитовых блоков?
                .info__bigpicture
                    .info__row
                        .info__section.info__section--one
                            .info__paragraph Вы оставляете заявку на сайте или заказываете бесплатный обратный звонок
                            a.btn.btn--production.hvr-radial-out(href="#") Оставить заявку
                        .info__section.info__section--two
                            .info__paragraph Мы связываемся с Вами в течение 15 минут и консультируем Вас по всем вопросам, относительно расчетов необходимого объема, нюансов строительства из арболита, сроков изготовления и вариантов доставки
                            .info__paragraph.info__paragraph--bold (График работы Пн-Сб 10:00-20:00)
                    .info__row.info__row--two
                        .info__section.info__section--three
                            .info__paragraph После уведомления о готовности заказа Вы оплачиваете оставшиеся 20%
                        .info__section.info__section--four
                            .info__paragraph После получения предоплаты в размере 80% Мы приступаем к выполнению заказа
                        .info__section.info__section--five
                            .info__paragraph Мы заключаем договор поставки
            .info__process
                .info__head.info__head--process Посмотреть процесс производства арболитовых блоков:
                .info__cont
                    .info__bid
                        .info__bid-head У Вас остались вопросы по производству материала?
                        .info__bid-subhead Мы с радостью ответим на них. Просто оставьте заявку.
                        form.form__bid(method="post" action="#" name="bid__form")
                            .info__bid-group
                                input.form__input.form__input--bid(type="text" placeholder="Ваше имя" name="name")
                                input.form__input.form__input--bid2(type="text" placeholder="+7 000-000-00-00" name="phone")
                            button.btn.btn--process.hvr-radial-out(type="submit") Оставить заявку
                    .info__slider
                        .slider
                            .slider__pict
                                img.slider__img(src="img/info/slider01.jpg" alt="slider01")
                            .slider__pict
                                img.slider__img(src="img/info/slider02.jpg" alt="slider02")
                            .slider__pict
                                img.slider__img(src="img/info/slider03.jpg" alt="slider03")
                    .slider__arrow-left
                        img.slider__arrow-left-pict(src="img/info/arrow-left.png" alt="slider__arrow-left")
                    .slider__arrow-right
                        img.slider__arrow-right-pict(src="img/info/arrow-right.png" alt="slider__arrow-right")
            .info__life
                .info__head.info_head--life Данные проекты мы уже воплотили в жизнь:
                .info__slid
                    .slid
                        .slid__pict
                            img.slider__img(src="img/info/slider01.jpg" alt="slider01")
                        .slid__pict
                            img.slider__img(src="img/info/slider02.jpg" alt="slider02")
                        .slid__pict
                            img.slider__img(src="img/info/slider03.jpg" alt="slider03")
                        .slid__pict
                            img.slider__img(src="img/info/slider04.jpg" alt="slider04")
                .slid__arrow-left
                    img.slider__arrow-left-pict(src="img/info/arrow-left.png" alt="slider__arrow-left")
                .slid__arrow-right
                    img.slider__arrow-right-pict(src="img/info/arrow-right.png" alt="slider__arrow-right")

